<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Iot</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script type="text/babel" src="client.js"> </script>
  </head>
  <body>
    <h1> Camera </h1>
    <div id="content"></div>
    <h2>
        login with "<%=user %>" <br />
        <a href="/logout"> logout </a>
    </h2>
  </body>
</html>
