<!DOCTYPE html>
<html>
    <body>
        <h1>Login page</h1>
        <form action="/login" method="POST">
            Name
            <input type="text" name="name" /><br />
            Password
            <input type="password" name="password" /> <br />
            <input type="submit" /> 
            <br />
            <br />
            <%=comment %>
        </form>
    </body>
</html>
